@font-face {
    font-family: "Lora-Regular";
    src: url("assets/fonts/Lora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lora-BoldItalic";
    src: url("assets/fonts/Lora-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lora-Bold";
    src: url("assets/fonts/Lora-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("assets/fonts/ProximaNova-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "ProximaNova-Extrabold";
    src: url("assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
}

/* Global styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    display: block;
}

ul {
    list-style: none;
}

/* Header styles */

.desktop-header {
    display: none;
}

.mobile-header {
    background-color: #F84F4C;
    padding: 15px;
    padding-bottom: 0px;
}

.mobile-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile-header__menu {
    cursor: pointer;
}
.mobile-header__search {
    cursor: pointer;
}
.mobile-header__heading {
    font-size: 23px;
    color: #fff;
    font-family: 'ProximaNova-Semibold';
    letter-spacing: 10px;
}

.mobile-header__resolution-wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.mobile-header__resolution {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    font-family: 'ProximaNova-Regular';
    cursor: pointer;
}

.mobile-header__resolution__active {
    border-bottom: 4px solid rgb(236, 250, 43);
}

/* Aside styles */

.aside {
    display: none;
}

/* Content styles */

.main-topic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-image: url("assets/bearBears.jpg");
    background-size: cover;
    height: 60vh;
    padding: 50px 20px;
    margin-bottom: 60px;
}

.main-topic__heading {
    color: #fff;
    font-size: 35px;
    font-family: 'ProximaNova-Extrabold';
    margin-bottom: 30px;
}

.main-topic__info {
    display: flex;
    flex-direction: row;
}

.main-topic__time {
    color: #ddd;
}

.main-topic__amount {
    color: #ddd;
}

.main-topic__buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.bookmark {
    cursor: pointer;
}

.content__read-button {
    border: none;
    background-color: #FBD500;
    width: 75px;
    height: 28px;
    border-radius: 20px;
    cursor: pointer;
}

.content__sort {
    padding: 20px;
}

.sort__heading {
    color: #aaa;
    font-family: 'ProximaNova-Semibold';
    margin-bottom: 5px;
}

.sort__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225px;
}

.sort__button {
    background-color: inherit;
    border: none;
    font-family: 'ProximaNova-Semibold';
    font-size: 16px;
    cursor:pointer;
}

.sort__separator {
    width: 0;
    border: 1px solid #000;
}

.review__heading {
    margin-left: 20px;
}

.review__heading__desktop {
    display: none;
}

.review__description {
    position: relative;
    margin: 0 20px;
    transform: translateY(-25px);
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
}

.review__bookmark {
    position: absolute;
    right: 20px;
    bottom: 0;
    transform: translateY(50%);
}

.content__topics-agregator {
    padding: 20px;
}

.content__topic {
    margin-bottom: 40px;
}
.content__heading {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    text-transform: uppercase;
    color: #FBD500;
    margin-bottom: 15px;
}

.content__illustration {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor:pointer;

}
.content__description {
    position: relative;
}

.content__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.content__calendar {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.content__views {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.content__topic-heading {
    margin-bottom: 25px;
}

.content__bookmark {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 15px;
}

.advice__heading {
    margin-left: 20px;
    margin-bottom: 40px;
}
.advice__container {
    background-image: url('assets/cute-brain-cartoon2.jpeg');
    background-size: cover;
    width: 100%;
    height: 45vh;
    background-position: bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advice__description {
    position: relative;
    margin: 0 20px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
}
.opinion__heading {
    margin-left: 20px;
}

.opinion__heading__desktop {
    display: none;
}

.opinion__description {
    position: relative;
    margin: 0 20px;
    transform: translateY(-25px);
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
}

.opinion__bookmark {
    position: absolute;
    right: 20px;
    bottom: 0;
    transform: translateY(50%);
}

/* Footer styles */

.footer {
    background: #F1EDEC;
    padding: 35px;
    /* text-align: center; */
}

.footer__container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__heading {
    font-family: 'Lora-Regular';
    color: #999;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer__form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    max-width: 300px;
}

.footer__input {
    border: none;
    height: 25px;
    font-size: 20px;
    font-family: 'Lora-Regular';
    background-color: inherit;
    max-width: 250px;
    min-width: 205px;
}

.footer__button {
    border: none;
    background-color: inherit;
    cursor:pointer;

}

.footer__social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 150px;
}

.footer__social {
    cursor: pointer;
}
.footer__textblock {
    font-family: 'ProximaNova-Regular';
    color: #999;
    font-size: 14px;
}

@media screen and (min-width: 640px) {

    /* Header styles */

    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: flex;
        flex-direction: row;
        height: 45px;
    }

    .desktop-header__logo {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
    }

    .desktop-header__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
        border: 1px solid #ddd;
    }

    .desktop-header__resolution-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 25px;
        border-radius: 20px;
        background-color: #FCCA31;
        margin-left: 25px;
    }

    .desktop-header__resolution-container {
        background-color: inherit;
        border: none;
        border-radius: 35%;
        font-size: 16px;
        font-family: 'ProximaNova-Semibold';
        cursor: pointer;
    }

    .desktop-header__resolution {
        font-family: 'ProximaNova-Semibold';
        cursor: pointer;
    }

    .desktop-header__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-basis: 40%;
    }

    .desktop-header__menu-item {
        font-family: 'Lora-Bold';
        cursor: pointer;

    }

    .desktop-header__tools {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #ddd;
    }

    .tools__item {
        margin: 0 10px;
        cursor: pointer;

    }

    /* Content styles */

    .content__wrapper {
        display: flex;
    }

    .main-topic {
        justify-content: center;
    }

    .main-topic__heading {
        font-family: 'Lora-Bold';
    }

    .main-topic__info {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        width: 300px;
    }

    .main-topic__buttons-container {
        position: static;
        width: 120px;
    }

    .content__sort {
        display: none;
    }

    .content__review {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 40px;
    }

    



    .review__illustration {
        /* order: -1; */
        max-width: 45%;
        min-width: 45%;
        max-height: 200px;
    }

    .review__heading__mobile {
        display: none;
    }

    .review__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
    .review__heading__desktop {
        display: block;
        margin-right: 20px; 
        transform: translateX(-50px);

    }
    
    .review__description {
        transform: none;
        transform: translateX(-50px);
        height: 230px;
        width: 35vw;
    }

    .review__description::after {
        content: '';
        display: block;
        position: absolute;
        left: -10px;
        /* minus for height of review__heading block */
        top: calc(50% - 30px);
        width: 20px;
        border: 2px solid #f55;
    }
    .review__topic-heading {
        white-space: nowrap;
        font-size: 2.5vw;
    }

    .br {
        display: block;
    }

    .content__topics-agregator {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .content__topic {
        flex-basis: 28%;
    }

    .content__heading {
        font-family: 'Lora-Regular';

    }

    .content__advice {
        padding: 40px;
    }

    .advice__heading {
        margin-left: 0;
    }
    .advice__container {
        display: block;
        padding: 100px 20px;
        height: 60vh;
        /* margin: 0 40px;
        width: calc(100% - 80px)
        box-sizing: pa */
    }

    .advice__description {
        width: 55%;
    }

    .advice__topic-heading {
        font-size: 2.5vw;
    }

    .content__opinion {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        padding: 40px;
    }

    



    .opinion__illustration {
        /* order: -1; */
        max-width: 45%;
        min-width: 45%;
        max-height: 200px;
    }

    .opinion__heading__mobile {
        display: none;
    }

    .opinion__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
    .opinion__heading__desktop {
        display: block;
        margin-right: 20px; 
        transform: translateX(50px);
        /* text-align: right; */
        align-self: flex-start;

    }
    
    .opinion__description {
        transform: none;
        transform: translateX(50px);
        height: 230px;
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .opinion__description::after {
        content: '';
        display: block;
        position: absolute;
        right: -10px;
        /* minus for height of opinion__heading block */
        top: calc(50% - 30px);
        width: 20px;
        border: 2px solid #f55;


    }

    .opinion__info {

        width: 100%;
    }
    .opinion__topic-heading {
        white-space: nowrap;
        font-size: 2.5vw;
        text-align: right;
        /* display: flex;
        flex-direction: column;
        align-items: flex-end; */
    }

    .opinion__bookmark {
        left: 20px;
    }

    /* aside styles */

    .aside {
        display:block;
        padding: 15px;
        width: 7%;
        border: 1px solid #ddd;
    }

    .aside__switcher {
        display: none;
    }

    .aside__button-on,
    .aside__button-off {
        display: none;
        border: none;
        background-color: inherit;


    }

    .aside__button-icon {
        cursor: pointer;

    }

    .aside__switcher:checked ~ .aside__button-off {
        display: block;
    }

    .aside__switcher:not(:checked) ~ .aside__button-on {
        display: block;
    }

    /* footer styles */

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer__container {
        flex-basis: 27%;
        display: block;
    }
}