@font-face {
    font-family: "Lora-Regular";
    src: url("assets/fonts/Lora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Lora-BoldItalic";
    src: url("assets/fonts/Lora-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    
}
@font-face {
    font-family: "Lora-Bold";
    src: url("assets/fonts/Lora-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("assets/fonts/ProximaNova-Regular.ttf") format("truetype");

    
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("assets/fonts/ProximaNova-Semibold.ttf") format("truetype");

    
}

@font-face {
    font-family: "ProximaNova-Extrabold";
    src: url("assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");

    
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    display: block;
}

.desktop-header {
    display: none;

}

.mobile-header {
    background-color: #F84F4C;
    padding: 15px;
    padding-bottom: 0px;

}
.mobile-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}

.mobile-header__heading {
    font-size: 23px;
    color: #fff;
    font-family: 'ProximaNova-Semibold';
    letter-spacing: 10px;


    
}

.mobile-header__resolution-wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.mobile-header__resolution {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    font-family: 'ProximaNova-Regular';

}

.mobile-header__resolution__active {
    border-bottom: 4px solid rgb(236, 250, 43);
}

@media screen and (min-width: 640px) {
    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: flex;
        flex-direction: row;
        height: 45px;
    }

    .desktop-header__logo {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        
    }
    .desktop-header__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
        border: 1px solid #ddd;

    }

    .desktop-header__resolution-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 25px;
        border-radius: 20px;
        background-color: #FCCA31;
        margin-left: 25px;

    }
    .desktop-header__resolution-container {

        background-color: inherit;
        border: none;
        border-radius: 35%;
        font-size: 16px;
        font-family: 'ProximaNova-Semibold';
    }
    .desktop-header__resolution {

        font-family: 'ProximaNova-Semibold';
    }
    .desktop-header__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-basis: 40%;
        
    }

    .desktop-header__menu-item {
        font-family: 'Lora-Bold';
    }

    .desktop-header__tools {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #ddd;

    }

    .tools__item {
        margin: 0 10px;
    }
}